
body{
  background-color: #333;
  
  .header-wrapper{
    border: solid 2px red;
    color: #fff;
  }

  .user-card{
    border: solid 2px blue;
    color: #fff;
  }

  .tech-list{
    border: solid 2px yellow;
    color: #fff;
  }
}
